.hidden {
    display: none;
}

.showm {
    display: inline-block;
}

.body {
	background-color: #ffffff
}

.title {
    background-color: #ffffff;
    color: black;
    margin: 15px;
    padding: 20px;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.msg {
  background: rgb(255, 255, 255);
  border: 10px solid rgb(234, 238, 236);
  height:20% ;
  width: 40%;
  font-size: 35px;
  text-align: center;
  align-content: space-around;
  box-sizing: content-box;
  align-items: center;
  position: absolute;top: 10%; margin-left: 30%;
  
    
  }

.error {
    background-color: #ffffff;
    color: red;
    margin: 10px;
    padding: 20px;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

.button {
    
    color: #ffffff;
    background:#3d95ee;
    font-size:12px;
    font-family:Verdana,Helvetica;
    font-weight:bold;
    border:10px;
    width:150px;
    height:35px;
    position: absolute;top: 75%;margin-left: 2%;
     
       
  } 
  .buttonDB {
    
    color:white;
    background: #57cc33;
    font-size:12px;
    font-family:Verdana,Helvetica;
    font-weight:bold;
    border:10px;
    width:150px;
    height:35px;
    position: absolute;top: 75%; margin-left: 2%;
    
  }  

  .answer{
    
    font-family: sans-serif;
    font-size: 15px;
    width: 95%;
    padding: 10px 20px;
    margin: 10px 2%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

   
  }
  span{
    font-family: sans-serif;
    font-size: 18px;
    text-align: left;
    margin-left: 2%;
    width: 90%;
    display: inline-block;
    border: 0px solid #ccc;
  }

  
