
<form id="formQuestions" method="post" class="show">
   
    <div class="show" id="Q1" >
        <span class="span" >1.- What's your favourite color?</br></span>
        <input name="r1" id="1" type="text"  class="answer" required  />
    </div>
    
    <div class="hidden" id="Q2" >
        <span class="span">2.- What is your mom's name?</br></span>
        <input name="r2" id="2" type="text"   class="answer" required />
    </div>

    <div class="hidden" id="Q3" >
        <span class="span">3.- Are you able to travel abroad?</br></span>
        <input name="r3" id="3" type="text"  class="answer" />
    </div>
        
    <div class="hidden" id="Q4" >
        <span class="span">4.- How do you feel with your team?</br></span>
        <input name="r4" id="4" type="text"   class="answer" />
    </div> 

    <div class="hidden" id="summary" >
        <span class="span"></span>
        <input name="r5" id="5" type="hidden"  value="r5" />
    </div>



     
  <input type="button" id="submit" onclick="next()" value="NEXT" class="show button"   />

</form>



<form id="formRegister" method="post" class="hidden">
   
    <div id="Q1" >
        <span class="span" >1.- What's your name?</br></span>
        <input name="r11" id="11" type="text"  class="answer" onfocusout="isValid($(this))" />
    </div>
    
    <div id="Q2" >
        <span class="span">2.- What is your email?</br></span>
        <input name="r12" id="12" type="email"   class="answer" onfocusout="isValid($(this))" />
    </div>

    <div id="Q3" >
        <span class="span">3.- What is your phone?</br></span>
        <input name="r13" id="13" type="number"   class="answer" onfocusout="isValid($(this))" />
    </div>
     
  <input type="button" id="submitButton" onclick="submitRegister()" value="SUBMIT"  class="show buttonDB" />

</form>